<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="elec.shop.mapper.announcement.MessageRecordMapper">

    <resultMap id="BaseResultMap" type="elec.shop.pojo.announcement.MessageRecord">
            <id property="recordId" column="record_id" />
            <result property="templateId" column="template_id" />
            <result property="messageType" column="message_type" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="sender" column="sender" />
            <result property="receiver" column="receiver" />
            <result property="sendTime" column="send_time" />
            <result property="sendStatus" column="send_status" />
            <result property="errorMsg" column="error_msg" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="tenantId" column="tenant_id" />
    </resultMap>

    <sql id="Base_Column_List">
        record_id,template_id,message_type,title,content,sender,
        receiver,send_time,send_status,error_msg,created_at,
        updated_at,tenant_id
    </sql>
</mapper>
