<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="elec.shop.mapper.balance.StatsUserBehaviorDailyMapper">

    <resultMap id="BaseResultMap" type="elec.shop.pojo.balance.StatsUserBehaviorDaily">
            <id property="id" column="id" />
            <result property="statsDate" column="stats_date" />
            <result property="userId" column="user_id" />
            <result property="viewCount" column="view_count" />
            <result property="searchCount" column="search_count" />
            <result property="cartCount" column="cart_count" />
            <result property="orderCount" column="order_count" />
            <result property="orderAmount" column="order_amount" />
            <result property="favoriteCount" column="favorite_count" />
            <result property="shareCount" column="share_count" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="tenantId" column="tenant_id" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,stats_date,user_id,view_count,search_count,cart_count,
        order_count,order_amount,favorite_count,share_count,created_at,
        updated_at,tenant_id,is_deleted
    </sql>
</mapper>
