<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="elec.shop.mapper.SysOperationLogMapper">

    <resultMap id="BaseResultMap" type="elec.shop.pojo.SysOperationLog">
            <id property="logId" column="log_id" />
            <result property="userId" column="user_id" />
            <result property="username" column="username" />
            <result property="operationType" column="operation_type" />
            <result property="method" column="method" />
            <result property="params" column="params" />
            <result property="time" column="time" />
            <result property="ip" column="ip" />
            <result property="location" column="location" />
            <result property="browser" column="browser" />
            <result property="os" column="os" />
            <result property="status" column="status" />
            <result property="errorMsg" column="error_msg" />
            <result property="createdAt" column="created_at" />
            <result property="tenantId" column="tenant_id" />
    </resultMap>

    <sql id="Base_Column_List">
        log_id,user_id,username,operation_type,method,params,
        time,ip,location,browser,os,
        status,error_msg,created_at,tenant_id
    </sql>
</mapper>
